# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Output files
output/

# Debug HTML
amazon_debug.html
first_card.html
product_page.html
selenium_page.html

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db